<div class="header" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 0px 2px;">
    <table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; border-top-right-radius: 15px; border-top-left-radius: 15px;" background="https://i.ibb.co/BK8Jxgd/108-2-1.png" >
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0;" align="center" valign="top">
                <div>
                    <img  style="height: 80px; display: block;  margin: 10px auto;" src="https://raw.githubusercontent.com/itorophilip1998/clisha-mail-template/main/images/rocket.png" alt="Clisha">

                    <img style="margin-bottom: 20px;" src="https://clisha-client-user.netlify.app/images/popup/Group%201948%20(1).png" alt="clishalogo" border="0">
                </div>
            </td>
        </tr>
    </table>
</div> 