
<div class="footer" style="background: #74019B; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 10px 5px 0px;">
    <table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 15px;" align="center" valign="top">
              <div style="color: #fff; font-weight: bold;">Get in Touch</div>
              <div style="color: #fff; font-weight: bold;">Contact us -   </div> 
              <div style="color: #fff; font-weight: bold;">support@clisha.me</div>
            </td>
        </tr>
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 15px;" align="center" valign="top">
              <div style="display: inline; margin-right: 10px;"> <img src="https://clisha-assets.s3.amazonaws.com/icons/youtube.png" alt=""></div>
              <div style="display: inline; margin-right: 10px;"> <img src="https://clisha-assets.s3.amazonaws.com/icons/linklin.png" alt=""></div>
              <div style="display: inline; margin-right: 10px;"> <img src="https://clisha-assets.s3.amazonaws.com/icons/instagram.png" alt=""></div>
              <div style="display: inline; margin-right: 10px;"> <img src="https://clisha-assets.s3.amazonaws.com/icons/facebook.png" alt=""></div>
            </td>
        </tr>
    </table>
</div> 
<table width="100%" style=" background: #1C3E58; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; ">
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; text-align: center; color: #FFFFFF;" valign="top">
            <small>Manage call support ·  Help</small>
            <!-- <br>  
            <small>  Copyright  &copy; 2022, Clisha</small> -->
        </td> 
    </tr> 
</table>
 